.main-profile{
    background-color:rgb(236,239,241);
    display:flex;
    flex-direction: horizontal;
}
.profile-detail{
    background-color: white;
    margin-left:10%;
    margin-top:5%;
    margin-bottom: 10%;
    box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
    width:20%;
    height:100%;
    border-radius:5px;
    padding:20px;
}
.rating-and-graph{
    display:flex;
    flex-direction:horizontal;
    margin:50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
}

.rating{
    background-color: white;
    margin-left:10%;
    margin-bottom: 5%;
    box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
    width:30%;
    height:20%;
    border-radius:5px;
    padding:20px;
}
.graph{
    background-color: white;
    margin-left: 2%;
    margin-bottom: 5%;
    box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
    width:30%;
    height:20%;
    border-radius:5px;
    padding:20px;
}
.Number-of-question-and-badge{
    background-color: white;
    margin:50px;
    box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
    height:20%;
    border-radius:5px;
    padding:20px;
}
.Number-of-question{
    display:flex;
    flex-direction:horizontal;
    margin:50px;
    background-color: white;
    box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
}
.problem-solved{
    background-color: white;
    margin:50px;
    box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
    height:20%;
    border-radius:5px;
    padding:20px;
}